<div class="card">
    <div class="card-body">
        <h1 class="text-success text-center">Listado de facturas</h1>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr class="bg-success text-light">
                        <th scope="col">Id</th>
                        <th scope="col">Producto</th>
                        <th scope="col">Precio Unitario</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Imagen</th>
                        <th scope="col">Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>

                    </tr>
                </tbody>
            </table>
        </div>
        <div class="mb-2">
            <button class="btn btn-success" (click)="Cliente()">Registrar Cliente</button>
            <button class="btn btn-success" style="margin-left: 5px;" (click)="Producto()" >Registrar Producto</button>
            <button class="btn btn-success" style="margin-left: 5px;" (click)="Factura()">Registrar Factura</button>
        </div>
    </div>
</div>
