<div class="card">
    <div class="card-body">
        <form (ngSubmit)="RegistrarCliente()" #frmCliente="ngForm">
            <div class="mb-2">
                <label for="razon_social" class="form-label">Razon Social</label>
                <input type="text" name="nombre" class="form-control" placeholder="Ingrese su razon social"
                        [(ngModel)]="cliente.razonSocial" required #razonsocial="ngModel">
            </div>
            <div class="mb-2">
                <label for="" class="form-label">Tipo Cliente</label>
                <select name="tipocliente" class="form-control" [(ngModel)]="cliente.idTipoCliente">
                <option value="0">Seleccione</option>
                <option *ngFor="let _data of tipoCliente" 
                value="{{_data.id}}">{{_data.tipoCliente}}</option>
            </select>
            </div>
            <div class="mb-2">
                <button class="btn btn-success" (click)="RegistrarCliente()">Registrarme</button>
            </div>
        </form>
    </div>
</div>
